<div class="container">
    <div class="form-box">
        <form #form="ngForm">
            <h2>Calculadora</h2>
            <label> Numero 1</label>
            <input type="number" name="num1" id ="num1" [(ngModel)]="num1"/>
            <label> Numero 2</label>
            <input type="number" name="num2" id ="num2" [(ngModel)]="num2"/>
            <button type = "button" (click)="SumValues()">Submit</button>
        </form>
        <div class="result-display">
            <p>Resultado: <span id="result">{{result}}</span></p>
        </div>
    </div>
</div>